@media (max-width: 768px) {
  nav {
    height: 85px;
    opacity: 1;
    justify-content: space-between;
  }
  .navicon {
    width: 105.4285888671875px;
    height: 41.07579421997px7;
    opacity: 1;
    top: 48 px;
    left: 16px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .navicon1 {
    width: 38.255638122558594px;
    height: 41.0757942199707px;
    opacity: 1;
    top: 39px;
    left: 16px;
  }
  .navlistelement {
    display: none;
  }
  .navbuttonlist {
    display: none;
  }
  .herosec {
    height: 572px;
    width: 100%;
  }
  .herotext {
    width: 310px;
    height: 135px;
    opacity: 1;
    font-family: Poppins;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: center;
    padding-left: 0;
    padding-top: 150px;
  }
  .herotext2 {
    width: 243px;
    height: 32px;
    opacity: 1;
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 5px;
  }
  .herosearchdiv {
    margin-top: 10px;
  }
  .herosearch {
    width: 270px;
    height: 38px;
    opacity: 1;
    gap: 22px;
    border-radius: 13.77px;
    padding-top: 3.83px;
    padding-right: 3.83px;
    padding-bottom: 3.83px;
    padding-left: 14.16px;
  }
  .aboutus {
    width: 209px;
    height: 36px;
    top: 703px;
    left: 133px;
    opacity: 1;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutdiv {
    margin-top: 50px;
    margin-left: 0;
    display: block;
  }
  .abouttext1 {
    width: 343px;
    height: 36px;
    opacity: 1;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0%;
    margin-left: 10px;
  }
  .abouttext2 {
    font-family: Nunito;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0%;
    margin-top: 10px;
    margin: 10px;
  }
  .aboutusbutton {
    width: 124px;
    height: 47px;
    opacity: 1;
    gap: 10px;
    border-radius: 22px;
    padding: 10px;
    margin: 10px;
  }
  .aboutimage {
    width: 100%;
    height: 325px;
    top: 1098px;
    opacity: 1;
    border-radius: 12px;
  }
  .whyhometrace {
    width: 304px;
    height: 45px;
    top: 1678px;
    left: 568px;
    opacity: 1;
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: center;
  }
  .whyustext {
    display: block;
    margin-top: 30px;
  }
  .why1 {
    width: 300px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    opacity: 1;
    gap: 14.82px;
    border-radius: 13.68px;
    padding-top: 17.1px;
    padding-right: 15.96px;
    padding-bottom: 17.1px;
    padding-left: 15.96px;
  }
  .why1element1 {
    width: 45px;
    height: 45px;
    opacity: 1;
    gap: 11.4px;
    border-radius: 30.77px;
  }
  .why1element1icon {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  .why2element2 {
    width: 250px;
    height: 25px;
    opacity: 1;
    font-family: Nunito;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
  .why2element3 {
    width: 192px;
    height: 48px;
    opacity: 1;
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .explore {
    margin-top: 80px;
  }
  .exploretext {
    width: 277px;
    height: 41px;
    opacity: 1;
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    line-height: 40.16px;
    letter-spacing: 0%;
    text-align: center;
  }
  .exploreimages {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .firstbox {
    width: 300px;
    height: 382px;
    opacity: 1;
    gap: 10px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .explore1element1 {
    width: 300px;
    height: 236px;
    opacity: 1;
  }
  .explore1element2 {
    width: 299px;
    height: 31px;
    opacity: 1;
    gap: 94px;
  }

  .explore1element2text {
    width: 174px;
    height: 27px;
    opacity: 1;
  }
  .explore3element2text {
    width: 300px;
    height: 27px;
    opacity: 1;
  }
  .explore1element2icondiv {
    width: 31px;
    height: 31px;
    opacity: 1;
  }
  .explore1element2icon {
    width: 28.416662216186523px;
    height: 27.125px;
    top: 1.94px;
    left: 1.29px;
    opacity: 1;
  }
  .explore1element3 {
    width: 300px;
    height: 22px;
    opacity: 1;
    gap: 18px;
  }
  .explore1element3icondiv {
    width: 18px;
    height: 18px;
    opacity: 1;
  }
  .explore1element3icon {
    width: 6px;
    height: 6px;
    opacity: 1;
  }
  .properties {
    margin-top: 30px;
    justify-content: left;
    margin-left: 20px;
    height: 45px;
  }
  .moreproperties {
    width: 188px;
    height: 45px;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;

    opacity: 1;
  }
  .test {
    margin-top: 50px;
  }
  .testimonies {
    width: 343px;
    height: 21px;
    opacity: 1;
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    line-height: 20.01px;
    letter-spacing: 0%;
    text-align: center;
  }
  .testimoniescards {
    display: block;
  }
  .testimoniescard1 {
    width: 300px;
    height: 190px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
  }
  .testimoniescardicon {
    width: 39.297080993652344px;
    height: 39.32718276977539px;
    opacity: 1;
  }
  .testimoniescard1text {
    width: 110px;
    height: 21px;
    opacity: 1;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 12.03px;
    line-height: 21.48px;
    letter-spacing: 0%;
    text-align: justify;
  }
  .testimoniescard1rate {
    width: 81.17101287841797px;
    height: 15.472990036010742px;
    opacity: 1;
    gap: 6.45px;
  }
  .rateicon {
    width: 15.472990036010742px;
    height: 15.472990036010742px;
    opacity: 1;
  }
  .testimoniescard12 {
    width: 297px;
    height: 134.32717895507812px;
    opacity: 1;
    gap: 21px;
    letter-spacing: normal;
    margin-left: auto;
    margin-right: auto;
  }
  .faq {
    margin-top: 70px;
    width: 263.7273254394531px;
    height: 13px;
    opacity: 1;
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 12px;
    line-height: 12.22px;
    letter-spacing: 0%;
  }
  .dropdowns {
    margin-top: 10px;
  }
  .faqdropdown {
    width: 340px;
    height: 39px;
    opacity: 1;
  }
  .faqtext {
    width: 200.3284683227539px;
    height: 16px;
    opacity: 1;
    font-family: Nunito;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .faqdropicondiv {
    width: 18.0000019073487px;
    height: 17.999998092651435px;
    opacity: 1;
  }
  .faqdropicon {
    width: 7.49999952316287px;
    height: 3.749999046325698px;
    opacity: 1;
    border-width: 1.54px;
  }
}
